#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.table-ui {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid rgb(88, 88, 103);
}

.table-ui,
th {
  font-size: 16px;
  font-weight: 500;
  padding: 6px;
}

.table-ui,
td {
  font-size: 14px;
  min-height: 300px;
}

.pagination-controls {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.pagination-controls button {
  outline: none;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.loader {
  font-size: 18px;
  font-weight: 400;
  border: 1px solid grey;
  border-radius: 10%;
  padding: 10px;
}